@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');



.social {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 50px;
    transition: height 1s;
    background-color: #fec7d7;
}
.social:hover {
  height: 80px;
  padding: 5px;
  background-color: #c3f0ca;

}

body {
    background-color: #fec7d7;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

img.logo {
    width: 100px; height: 100px;
}

img.imagen {
    width: 640px; height: 360px;
}
nav.jo_bleu_nav > ul {
    width: 150vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
  }
  @media (max-width: 650px) {
    nav.jo_bleu_nav > ul {
      flex-direction: column;
    }
  }
  nav.jo_bleu_nav > ul li {
    padding: 0 30px;

  }
#nav-bar {
    text-decoration:none;
    margin-top: 5px;
    display: flex;
    justify-content: center;
  }
  footer {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    font-size: 1em;
  }
  .social > ul {
    width: 55vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
  }

  .social {
    margin-top: 5px;
    display: flex;
    justify-content: center;
  }
/* nav */

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.nav-list {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}
.nav-list:hover {
  background-color: #ffc6c7;
  opacity: 0.6;
}

.spotify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spotify :last-child{
  padding-top: 40px;
}

.table {
    border-top:solid 5px #a786df;
    border-right:solid 10px #f9f8fc;
    border-bottom:solid 7px plum;
    border-left:solid 12px #ff8ba7;
    display: grid;  
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 3fr 1fr;
}

.icon-instagram {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}
.icon-facebook {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}
.icon-spotify {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}
.icon-youtube {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}

input {
  width: 200px; height: 50px;
  transition: all 1.5s;    
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;  
  outline:none;
  background-color: #faeee7;
}
input:focus {
  width: 250px;
  font-size: 24px;
}

.button { text-decoration: none;
padding: 10px;
font-weight: 600;
font-size: 20px;
color: #ffffff;
background-color: #ff8ba7;
border-radius: 6px;
border: 2px solid white;
}
.button:hover {
  background-color: #ffc6c7;
  opacity: 0.6;
}