@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');



.social {
    text-align: center;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

body {
    background-color: #fec7d7;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

img.logo {
    width: 100px; height: 100px;
}

img.imagen {
    width: 640px; height: 360px;
}
nav.jo_bleu_nav > ul {
    width: 150vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
  }
  @media (max-width: 650px) {
    nav.jo_bleu_nav > ul {
      flex-direction: column;
    }
  }
  nav.jo_bleu_nav > ul li {
    padding: 0 30px;

  }
#nav-bar {
    margin-top: 5px;
    display: flex;
    justify-content: center;
  }
  footer {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    font-size: 1em;
  }
  .social > ul {
    width: 55vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
  }

  .social {
    margin-top: 5px;
    display: flex;
    justify-content: center;
  }
/* nav */

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.spotify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spotify :last-child{
  padding-top: 40px;
}

.table {
    border-top:solid 5px #a786df;
    border-right:solid 10px #f9f8fc;
    border-bottom:solid 7px plum;
    border-left:solid 12px #ff8ba7;
}
  


  